body{
	background-color:black;
	color:white;
}
ol{
	color:blue;
	list-style-type:lower-roman;
	
}
ol li{
	font-weight:bold;
	color:blue
}
ol li p{
	font-size:25pt;
	font-style:italic;
}
h2{
	text-align:center;
}