body {
	background-color: A9BE84;
}

h1 {
	text-decoration: underline;
	text-align: center;
}

.flex-container {
	display : flex;
	flex-direction: row;
	justify-content: space-around;
}

.flex-item {
	text-align:center;
	
}

h2 {
	text-decoration: underline;
	text-align: center;
}
img {
	text-align: center;
}

sub {
	font-weight: bold;
	border: black 5px solid;
}